 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
          <img src="images/logo.jpg" style="width:70px" alt="">
          <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">HOTEL STORY</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="images/p.png" alt="#" class="rounded-circle" style="height: 50px; width:50px;">
    </nav>

    <br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Informasi Hotel</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Kelola Kamar</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
     <div class="form-group">
    <label for="exampleFormControlSelect1">Destinasi</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>&nbsp;</option>
      <option>Bandung</option>
      <option>Cianjur</option>
      <option>Bogor</option>
      <option>Jakarta</option>
      <option>Tanggerang</option>
    </select>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Check In</label>
      <input type="text" class="form-control" id="&nbsp" placeholder="&nbsp">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Check Out</label>
      <input type="text" class="form-control" id="&nbsp" placeholder="&nbsp">
    </div>
  </div>

  <div class="form-group col-md-4">
      <label for="inputState">Jumlah Kamar</label>
      <select id="inputState" class="form-control">
        <option>&nbsp;</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

  <div class="form-group col-md-6">
      <label for="inputPassword4">Alamat</label>
      <input type="text" class="form-control" id="&nbsp" placeholder="&nbsp">
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
     style="float: right; border-radius: 20px">Login</button>
  

</div>


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="form-group">
    <label for="exampleFormControlSelect1">No.Kamar</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>&nbsp;</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group col-md-4">
      <label for="inputState">Jumlah Tempat Tidur</label>
      <select id="inputState" class="form-control">
        <option>&nbsp;</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputState">Harga/Hari</label>
      <select id="inputState" class="form-control">
        <option>&nbsp;</option>
        <option>1000.000</option>
        <option>2000.000</option>
        <option>3000.000</option>
        <option>4000.000</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary"
     style="float: right; border-radius: 20px">Pesan Sekarang</button>

  </div>
</div>